@{
    ViewData["Title"] = "Vending Machine";
}

<div class="body-container d-flex">
    <div class="vending-column p-2">
        <h3>Soda Machine</h3>
        <div class="vending-machine">
            <div class="display">
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
                <div class="soda">Soda1</div>
            </div>
            <div class="dispenser"></div>
        </div>
    </div>
    <div class="display-column p-2">
        <h3>Purchase</h3>
    </div>
</div>

